# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# PM2 Config
warframe-status.json

# Temp file storage
tmp/

#nodemon dev config
.nodemon
.env

# JetBrains files
.idea/
.run/

# flatcache for the items
.items
.wfinfo
.twitch
.drops
.rivens
.hy-info

# eslint cache
.eslintcache
