# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# PM2 Config
warframe-status.json

# Temp file storage
tmp/

#nodemon dev config
.nodemon
.env

# JetBrains files
.idea/
.run/

# flatcache for the items
caches/.items
caches/.wfinfo
caches/.twitch
caches/.drops
caches/.rivens
caches/.hy-info
# nexus query cache
.cache/

# eslint cache
.eslintcache
