openapi: 3.0.0
info:
  title: Warframe Status API
  description: API for retrieving Warframe worldstate data, items, profiles, and more
  version: 3.2.4
  contact:
    name: Warframe Community Developers
    url: https://github.com/WFCD/warframe-status
    email: tobiah@warframestat.us
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-logo:
    url: https://docs.warframestat.us/wfcd_logo_color.png
    backgroundColor: transparent
    altText: Warframe Community Developers
    href: https://github.com/WFCD/
servers:
  - url: https://api.warframestat.us
    description: Production
tags:
  - name: system
    description: System health and status endpoints
  - name: worldstate
    description: Warframe worldstate data - live game events, alerts, invasions, and more
  - name: items
    description: Warframe items database - weapons, warframes, mods, and equipment
  - name: drops
    description: Drop tables and loot information
  - name: rivens
    description: Riven mod disposition and pricing statistics
  - name: wfinfo
    description: WFInfo overlay application integration endpoints
  - name: pricecheck
    description: Warframe.market price checking integration
  - name: profile
    description: Player profile parsing and statistics
  - name: social
    description: Social media feeds - Twitter and RSS
  - name: data
    description: Static Warframe data - synthesis targets, arcanes, tutorials, conclave, sol nodes, and more
paths:
  /heartbeat:
    get:
      description: Returns a simple success message to verify the API is operational
      operationId: HeartbeatController_getHeartbeat
      parameters: []
      responses:
        '200':
          description: Service is healthy and operational
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartbeatResponseDto'
      summary: Health check endpoint
      tags:
        - system
  /weapons:
    get:
      description: Retrieve all weapons, warframes, items, or mods. Supports filtering, field selection, and localization.
      operationId: ItemsController_getAll[0]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response. First 2 characters are used (e.g., "en-US" becomes "en")
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: 'Language code for localized data. Overrides Accept-Language header. Supported: de, es, fr, it, ko, pl, pt, ru, zh, en, uk, tr'
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true,vaulted:false")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
      responses:
        '200':
          description: Array of items matching the specified type and filters. Items from @wfcd/items library include properties like name, uniqueName, type, category, tradable, and type-specific properties (e.g., damage stats for weapons, health/shield/armor for warframes, polarity/baseDrain for mods).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uniqueName:
                      type: string
                      example: /Lotus/Powersuits/Excalibur/Excalibur
                    name:
                      type: string
                      example: Excalibur
                    type:
                      type: string
                      example: Warframe
                    category:
                      type: string
                      example: Warframes
                    tradable:
                      type: boolean
                      example: false
                    masterable:
                      type: boolean
                      example: true
      summary: Get all items of a specific type
      tags:
        - items
  /warframes:
    get:
      description: Retrieve all weapons, warframes, items, or mods. Supports filtering, field selection, and localization.
      operationId: ItemsController_getAll[1]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response. First 2 characters are used (e.g., "en-US" becomes "en")
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: 'Language code for localized data. Overrides Accept-Language header. Supported: de, es, fr, it, ko, pl, pt, ru, zh, en, uk, tr'
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true,vaulted:false")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
      responses:
        '200':
          description: Array of items matching the specified type and filters. Items from @wfcd/items library include properties like name, uniqueName, type, category, tradable, and type-specific properties (e.g., damage stats for weapons, health/shield/armor for warframes, polarity/baseDrain for mods).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uniqueName:
                      type: string
                      example: /Lotus/Powersuits/Excalibur/Excalibur
                    name:
                      type: string
                      example: Excalibur
                    type:
                      type: string
                      example: Warframe
                    category:
                      type: string
                      example: Warframes
                    tradable:
                      type: boolean
                      example: false
                    masterable:
                      type: boolean
                      example: true
      summary: Get all items of a specific type
      tags:
        - items
  /items:
    get:
      description: Retrieve all weapons, warframes, items, or mods. Supports filtering, field selection, and localization.
      operationId: ItemsController_getAll[2]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response. First 2 characters are used (e.g., "en-US" becomes "en")
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: 'Language code for localized data. Overrides Accept-Language header. Supported: de, es, fr, it, ko, pl, pt, ru, zh, en, uk, tr'
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true,vaulted:false")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
      responses:
        '200':
          description: Array of items matching the specified type and filters. Items from @wfcd/items library include properties like name, uniqueName, type, category, tradable, and type-specific properties (e.g., damage stats for weapons, health/shield/armor for warframes, polarity/baseDrain for mods).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uniqueName:
                      type: string
                      example: /Lotus/Powersuits/Excalibur/Excalibur
                    name:
                      type: string
                      example: Excalibur
                    type:
                      type: string
                      example: Warframe
                    category:
                      type: string
                      example: Warframes
                    tradable:
                      type: boolean
                      example: false
                    masterable:
                      type: boolean
                      example: true
      summary: Get all items of a specific type
      tags:
        - items
  /mods:
    get:
      description: Retrieve all weapons, warframes, items, or mods. Supports filtering, field selection, and localization.
      operationId: ItemsController_getAll[3]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response. First 2 characters are used (e.g., "en-US" becomes "en")
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: 'Language code for localized data. Overrides Accept-Language header. Supported: de, es, fr, it, ko, pl, pt, ru, zh, en, uk, tr'
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true,vaulted:false")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
      responses:
        '200':
          description: Array of items matching the specified type and filters. Items from @wfcd/items library include properties like name, uniqueName, type, category, tradable, and type-specific properties (e.g., damage stats for weapons, health/shield/armor for warframes, polarity/baseDrain for mods).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uniqueName:
                      type: string
                      example: /Lotus/Powersuits/Excalibur/Excalibur
                    name:
                      type: string
                      example: Excalibur
                    type:
                      type: string
                      example: Warframe
                    category:
                      type: string
                      example: Warframes
                    tradable:
                      type: boolean
                      example: false
                    masterable:
                      type: boolean
                      example: true
      summary: Get all items of a specific type
      tags:
        - items
  /weapons/{item}:
    get:
      description: Retrieve a single item by its unique identifier (name, uniqueName, etc.). Returns 404 if not found.
      operationId: ItemsController_getOne[0]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: Language code for localized data. Overrides Accept-Language header
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
        - name: by
          required: false
          in: query
          description: Field to search by (e.g., "name", "uniqueName", "regex"). Defaults to matching any field
          schema:
            example: name
            type: string
        - name: item
          required: true
          in: path
          description: Item identifier to search for (can be name, uniqueName, or other field specified by "by" parameter)
          schema:
            example: Excalibur
            type: string
      responses:
        '200':
          description: The requested item with full details from @wfcd/items library
          content:
            application/json:
              schema:
                type: object
                properties:
                  uniqueName:
                    type: string
                    example: /Lotus/Powersuits/Excalibur/Excalibur
                  name:
                    type: string
                    example: Excalibur
                  type:
                    type: string
                    example: Warframe
                  category:
                    type: string
                    example: Warframes
                  tradable:
                    type: boolean
                    example: false
                  masterable:
                    type: boolean
                    example: true
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundDto'
      summary: Get a specific item by identifier
      tags:
        - items
  /warframes/{item}:
    get:
      description: Retrieve a single item by its unique identifier (name, uniqueName, etc.). Returns 404 if not found.
      operationId: ItemsController_getOne[1]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: Language code for localized data. Overrides Accept-Language header
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
        - name: by
          required: false
          in: query
          description: Field to search by (e.g., "name", "uniqueName", "regex"). Defaults to matching any field
          schema:
            example: name
            type: string
        - name: item
          required: true
          in: path
          description: Item identifier to search for (can be name, uniqueName, or other field specified by "by" parameter)
          schema:
            example: Excalibur
            type: string
      responses:
        '200':
          description: The requested item with full details from @wfcd/items library
          content:
            application/json:
              schema:
                type: object
                properties:
                  uniqueName:
                    type: string
                    example: /Lotus/Powersuits/Excalibur/Excalibur
                  name:
                    type: string
                    example: Excalibur
                  type:
                    type: string
                    example: Warframe
                  category:
                    type: string
                    example: Warframes
                  tradable:
                    type: boolean
                    example: false
                  masterable:
                    type: boolean
                    example: true
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundDto'
      summary: Get a specific item by identifier
      tags:
        - items
  /items/{item}:
    get:
      description: Retrieve a single item by its unique identifier (name, uniqueName, etc.). Returns 404 if not found.
      operationId: ItemsController_getOne[2]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: Language code for localized data. Overrides Accept-Language header
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
        - name: by
          required: false
          in: query
          description: Field to search by (e.g., "name", "uniqueName", "regex"). Defaults to matching any field
          schema:
            example: name
            type: string
        - name: item
          required: true
          in: path
          description: Item identifier to search for (can be name, uniqueName, or other field specified by "by" parameter)
          schema:
            example: Excalibur
            type: string
      responses:
        '200':
          description: The requested item with full details from @wfcd/items library
          content:
            application/json:
              schema:
                type: object
                properties:
                  uniqueName:
                    type: string
                    example: /Lotus/Powersuits/Excalibur/Excalibur
                  name:
                    type: string
                    example: Excalibur
                  type:
                    type: string
                    example: Warframe
                  category:
                    type: string
                    example: Warframes
                  tradable:
                    type: boolean
                    example: false
                  masterable:
                    type: boolean
                    example: true
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundDto'
      summary: Get a specific item by identifier
      tags:
        - items
  /mods/{item}:
    get:
      description: Retrieve a single item by its unique identifier (name, uniqueName, etc.). Returns 404 if not found.
      operationId: ItemsController_getOne[3]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: Language code for localized data. Overrides Accept-Language header
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
        - name: by
          required: false
          in: query
          description: Field to search by (e.g., "name", "uniqueName", "regex"). Defaults to matching any field
          schema:
            example: name
            type: string
        - name: item
          required: true
          in: path
          description: Item identifier to search for (can be name, uniqueName, or other field specified by "by" parameter)
          schema:
            example: Excalibur
            type: string
      responses:
        '200':
          description: The requested item with full details from @wfcd/items library
          content:
            application/json:
              schema:
                type: object
                properties:
                  uniqueName:
                    type: string
                    example: /Lotus/Powersuits/Excalibur/Excalibur
                  name:
                    type: string
                    example: Excalibur
                  type:
                    type: string
                    example: Warframe
                  category:
                    type: string
                    example: Warframes
                  tradable:
                    type: boolean
                    example: false
                  masterable:
                    type: boolean
                    example: true
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundDto'
      summary: Get a specific item by identifier
      tags:
        - items
  /weapons/search/{query}:
    get:
      description: Search for items using one or more comma-separated search terms. Returns all matching results.
      operationId: ItemsController_search[0]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: Language code for localized data. Overrides Accept-Language header
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
        - name: by
          required: false
          in: query
          description: Field to search by (e.g., "name", "uniqueName", "regex"). Defaults to "name"
          schema:
            example: name
            type: string
        - name: query
          required: true
          in: path
          description: Comma-separated search terms to find items. Each term is searched independently and results are combined
          schema:
            example: Excalibur,Mag
            type: string
      responses:
        '200':
          description: Array of items matching the search query
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uniqueName:
                      type: string
                      example: /Lotus/Powersuits/Excalibur/Excalibur
                    name:
                      type: string
                      example: Excalibur
                    type:
                      type: string
                      example: Warframe
                    category:
                      type: string
                      example: Warframes
                    tradable:
                      type: boolean
                      example: false
                    masterable:
                      type: boolean
                      example: true
      summary: Search for items by query string
      tags:
        - items
  /warframes/search/{query}:
    get:
      description: Search for items using one or more comma-separated search terms. Returns all matching results.
      operationId: ItemsController_search[1]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: Language code for localized data. Overrides Accept-Language header
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
        - name: by
          required: false
          in: query
          description: Field to search by (e.g., "name", "uniqueName", "regex"). Defaults to "name"
          schema:
            example: name
            type: string
        - name: query
          required: true
          in: path
          description: Comma-separated search terms to find items. Each term is searched independently and results are combined
          schema:
            example: Excalibur,Mag
            type: string
      responses:
        '200':
          description: Array of items matching the search query
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uniqueName:
                      type: string
                      example: /Lotus/Powersuits/Excalibur/Excalibur
                    name:
                      type: string
                      example: Excalibur
                    type:
                      type: string
                      example: Warframe
                    category:
                      type: string
                      example: Warframes
                    tradable:
                      type: boolean
                      example: false
                    masterable:
                      type: boolean
                      example: true
      summary: Search for items by query string
      tags:
        - items
  /items/search/{query}:
    get:
      description: Search for items using one or more comma-separated search terms. Returns all matching results.
      operationId: ItemsController_search[2]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: Language code for localized data. Overrides Accept-Language header
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
        - name: by
          required: false
          in: query
          description: Field to search by (e.g., "name", "uniqueName", "regex"). Defaults to "name"
          schema:
            example: name
            type: string
        - name: query
          required: true
          in: path
          description: Comma-separated search terms to find items. Each term is searched independently and results are combined
          schema:
            example: Excalibur,Mag
            type: string
      responses:
        '200':
          description: Array of items matching the search query
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uniqueName:
                      type: string
                      example: /Lotus/Powersuits/Excalibur/Excalibur
                    name:
                      type: string
                      example: Excalibur
                    type:
                      type: string
                      example: Warframe
                    category:
                      type: string
                      example: Warframes
                    tradable:
                      type: boolean
                      example: false
                    masterable:
                      type: boolean
                      example: true
      summary: Search for items by query string
      tags:
        - items
  /mods/search/{query}:
    get:
      description: Search for items using one or more comma-separated search terms. Returns all matching results.
      operationId: ItemsController_search[3]
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: Language code for localized data. Overrides Accept-Language header
          schema:
            example: en
            type: string
        - name: filter
          required: false
          in: query
          description: Comma-separated list of key:value filters to apply (e.g., "tradable:true")
          schema:
            example: tradable:true
            type: string
        - name: only
          required: false
          in: query
          description: Comma-separated list of fields to include in the response
          schema:
            example: name,uniqueName,type
            type: string
        - name: remove
          required: false
          in: query
          description: Comma-separated list of fields to exclude from the response
          schema:
            example: patchlogs,components
            type: string
        - name: by
          required: false
          in: query
          description: Field to search by (e.g., "name", "uniqueName", "regex"). Defaults to "name"
          schema:
            example: name
            type: string
        - name: query
          required: true
          in: path
          description: Comma-separated search terms to find items. Each term is searched independently and results are combined
          schema:
            example: Excalibur,Mag
            type: string
      responses:
        '200':
          description: Array of items matching the search query
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uniqueName:
                      type: string
                      example: /Lotus/Powersuits/Excalibur/Excalibur
                    name:
                      type: string
                      example: Excalibur
                    type:
                      type: string
                      example: Warframe
                    category:
                      type: string
                      example: Warframes
                    tradable:
                      type: boolean
                      example: false
                    masterable:
                      type: boolean
                      example: true
      summary: Search for items by query string
      tags:
        - items
  /drops:
    get:
      description: Retrieve the complete drop table for all items in Warframe. Responses are cached for 4 hours.
      operationId: DropsController_getAllDrops
      parameters: []
      responses:
        '200':
          description: Array of all drops in the game
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DropDto'
        '404':
          description: Drops cache is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
        '500':
          description: Drops cache could not be hydrated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalErrorDto'
      summary: Get all drop data
      tags:
        - drops
  /drops/search/{query}:
    get:
      description: Search for drops matching the query term (searches in item names and locations). Optionally group results by location.
      operationId: DropsController_searchDrops
      parameters:
        - name: grouped_by
          required: false
          in: query
          description: Group results by location. Currently only "location" is supported.
          schema:
            example: location
            type: string
        - name: query
          required: true
          in: path
          description: Search term to filter drops (case-insensitive, matches item names and locations)
          schema:
            example: Axi
            type: string
      responses:
        '200':
          description: Array of matching drops (or grouped object if grouped_by=location)
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/DropDto'
                  - type: object
                    additionalProperties:
                      $ref: '#/components/schemas/LocationGroupDto'
        '404':
          description: Drops cache is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
        '500':
          description: Drops cache could not be hydrated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalErrorDto'
      summary: Search for drops by query
      tags:
        - drops
  /{platform}/rivens:
    get:
      description: Retrieve complete riven mod statistics for the specified platform, including average prices, population data, and disposition values.
      operationId: RivensController_getAllRivens
      parameters:
        - name: platform
          required: true
          in: path
          description: Platform identifier (pc, ps4, xb1, swi, ns)
          schema:
            enum:
              - pc
              - ps4
              - xb1
              - swi
              - ns
            type: string
      responses:
        '200':
          description: Riven data grouped by item type and weapon compatibility. Each weapon has separate stats for rerolled and unrolled rivens.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/CompatibilityDto'
        '404':
          description: Riven cache is unavailable for the platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
        '500':
          description: Rivens cache could not be hydrated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalErrorDto'
      summary: Get all riven disposition and pricing data
      tags:
        - rivens
  /{platform}/rivens/search/{query}:
    get:
      description: Find riven statistics for weapons matching the search query. Returns filtered data containing only matching compatibilities.
      operationId: RivensController_searchRivens
      parameters:
        - name: query
          required: true
          in: path
          description: Weapon compatibility name to search for (case-insensitive partial match)
          schema:
            example: Soma
            type: string
        - name: platform
          required: true
          in: path
          description: Platform identifier (pc, ps4, xb1, swi, ns)
          schema:
            enum:
              - pc
              - ps4
              - xb1
              - swi
              - ns
            type: string
      responses:
        '200':
          description: Riven data filtered to only include weapons matching the search query
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/CompatibilityDto'
        '404':
          description: Riven cache is unavailable for the platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
        '500':
          description: Rivens cache could not be hydrated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalErrorDto'
      summary: Search riven data by weapon compatibility name
      tags:
        - rivens
  /wfinfo/filtered_items:
    get:
      description: Retrieve filtered item data used by the WFInfo overlay application. The data structure depends on the external source configured via the WFINFO_FILTERED_ITEMS environment variable. Returns 503 if the service is not configured or unavailable.
      operationId: WFInfoController_getFilteredItems
      parameters: []
      responses:
        '200':
          description: Filtered items data including relics (organized by era), equipment (with parts and ducat values), and ignored items (market data)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example: []
                  timestamp:
                    type: string
                    example: '2024-01-15T12:00:00.000Z'
                  relics:
                    type: object
                    example:
                      Axi:
                        A1:
                          vaulted: false
                          rare1: Aklex Prime Link
                          uncommon1: Lex Prime Barrel
                  eqmt:
                    type: object
                    example:
                      Braton Prime:
                        type: Primary
                        vaulted: true
                        parts:
                          Blueprint:
                            count: 1
                            ducats: 0
                            vaulted: true
                  ignored_items:
                    type: object
                    example:
                      Peculiar Bloom:
                        plat: 10
                        ducats: 0
                        volume: 50
        '503':
          description: WFInfo data service is not configured or unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WFInfoUnavailableDto'
      summary: Get WFInfo filtered items data
      tags:
        - wfinfo
  /wfinfo/prices:
    get:
      description: Retrieve market pricing data used by the WFInfo overlay application. The data structure depends on the external source configured via the WFINFO_PRICES environment variable. Returns 503 if the service is not configured or unavailable.
      operationId: WFInfoController_getPrices
      parameters: []
      responses:
        '200':
          description: Market prices data with trading volumes and average prices for items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WFInfoPriceItemDto'
        '503':
          description: WFInfo data service is not configured or unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WFInfoUnavailableDto'
      summary: Get WFInfo market prices data
      tags:
        - wfinfo
  /pricecheck/{type}/{query}:
    get:
      description: 'Query warframe.market for item prices. Supports three response types: "string" (formatted text), "find" (raw data), and "attachment" (Discord embed format). Optional query params filter mod rank and other order modifiers. Requires PRICECHECKS_ENABLED=true.'
      operationId: PriceCheckController_priceCheck
      parameters:
        - name: rankLt
          required: false
          in: query
          description: Filter mod orders to ranks less than this value
          schema:
            example: 5
            type: number
        - name: ranks
          required: false
          in: query
          description: Compare multiple mod ranks in one response (comma-separated, e.g. 0,5,10)
          schema:
            example: 0,10
            type: string
        - name: rank
          required: false
          in: query
          description: Filter mod orders to a specific rank (0-10)
          schema:
            example: 10
            type: number
        - name: platform
          in: header
          description: Platform to query (pc, ps4, xb1, swi, ns). Defaults to pc if not provided.
          required: false
          schema:
            type: string
            example: pc
        - name: query
          required: true
          in: path
          description: Item name or search query
          schema:
            example: Excalibur Prime
            type: string
        - name: type
          required: true
          in: path
          description: 'Response format type: "string" for formatted text, "find" for raw SummaryV2 data, "attachment" for Discord embed format'
          schema:
            enum:
              - string
              - find
              - attachment
            type: string
      responses:
        '200':
          description: 'Price check results. Format depends on type parameter: string returns formatted text, find returns SummaryV2[], attachment returns DiscordEmbed[]'
          content:
            application/json:
              schema:
                oneOf:
                  - type: string
                    description: Formatted price text (type=string)
                  - type: array
                    description: Array of price summaries (type=find)
                    items:
                      type: object
                  - type: array
                    description: Array of Discord embeds (type=attachment)
                    items:
                      type: object
        '404':
          description: Item not found or invalid type parameter
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PriceCheckNotFoundDto'
                  - $ref: '#/components/schemas/PriceCheckInvalidTypeDto'
        '500':
          description: Internal server error during price check
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceCheckErrorDto'
        '503':
          description: Price check service is disabled or unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceCheckUnavailableDto'
      summary: Price check items on warframe.market
      tags:
        - pricecheck
  /profile/{playerId}:
    get:
      description: Retrieve comprehensive profile information for a player by their account ID or username. Optionally include item details.
      operationId: ProfileController_getProfile
      parameters:
        - name: Accept-Language
          in: header
          description: Preferred language for the response
          required: false
          schema:
            type: string
            example: en
        - name: language
          required: false
          in: query
          description: Language code for localized data (2 characters)
          schema:
            example: en
            type: string
        - name: withItem
          required: false
          in: query
          description: Include detailed item information in the response
          schema:
            example: 'true'
            type: string
        - name: playerId
          required: true
          in: path
          description: Player account ID or username
          schema:
            example: Tobiah
            type: string
      responses:
        '200':
          description: Player profile data
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileNotFoundDto'
      summary: Get player profile data
      tags:
        - profile
  /profile/{playerId}/xpInfo:
    get:
      description: Retrieve experience points, mastery rank, and progression data for a player.
      operationId: ProfileController_getXpInfo
      parameters:
        - name: withItem
          required: false
          in: query
          description: Include detailed item information in the response
          schema:
            example: 'true'
            type: string
        - name: playerId
          required: true
          in: path
          description: Player account ID or username
          schema:
            example: Tobiah
            type: string
      responses:
        '200':
          description: Player XP and progression information
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileNotFoundDto'
      summary: Get player XP and progression information
      tags:
        - profile
  /profile/{playerId}/stats:
    get:
      description: Retrieve detailed gameplay statistics for a player including mission stats, kill counts, and achievements.
      operationId: ProfileController_getStats
      parameters:
        - name: playerId
          required: true
          in: path
          description: Player account ID or username
          schema:
            example: Tobiah
            type: string
      responses:
        '200':
          description: Player statistics
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileNotFoundDto'
      summary: Get player statistics
      tags:
        - profile
  /profile/{username}/arsenal:
    get:
      description: Retrieve player loadouts, equipped items, and arsenal configuration. Requires Twitch integration to be configured.
      operationId: ProfileController_getArsenal
      parameters:
        - name: platform
          in: header
          description: Platform to query (pc, ps4, xb1, swi). Overridden by query parameter if both provided.
          required: false
          schema:
            type: string
            example: pc
        - name: platform
          required: false
          in: query
          description: Platform to query (pc, ps4, xb1, swi). Defaults to pc.
          schema:
            example: pc
            type: string
        - name: username
          required: true
          in: path
          description: Player username (not account ID)
          schema:
            example: Tobiah
            type: string
      responses:
        '200':
          description: Player arsenal data including loadouts and equipped items
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileNotFoundDto'
        '503':
          description: Arsenal service unavailable (Twitch token not configured)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArsenalUnavailableDto'
      summary: Get player arsenal and loadout data
      tags:
        - profile
  /twitter:
    get:
      description: Retrieve recent tweets from official Warframe Twitter accounts. Requires TWITTER_ACTIVE=true environment variable. Returns 404 if Twitter integration is not enabled.
      operationId: TwitterController_getTwitter
      parameters: []
      responses:
        '200':
          description: Twitter feed data. Structure depends on Twitter API response format.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Twitter integration is not enabled or data unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwitterNotFoundDto'
      summary: Get Warframe Twitter feed
      tags:
        - social
  /pc:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns). Non-PC platforms redirect to pc.
      operationId: WorldstateController_getWorldstate[0]
      parameters: []
      responses:
        '200':
          description: Complete worldstate data for the platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldStateDto'
        '301':
          description: Redirected to PC platform
        '404':
          description: Live worldstate is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get worldstate data for a specific platform
      tags:
        - worldstate
  /ps4:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns). Non-PC platforms redirect to pc.
      operationId: WorldstateController_getWorldstate[1]
      parameters: []
      responses:
        '200':
          description: Complete worldstate data for the platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldStateDto'
        '301':
          description: Redirected to PC platform
        '404':
          description: Live worldstate is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get worldstate data for a specific platform
      tags:
        - worldstate
  /psn:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns). Non-PC platforms redirect to pc.
      operationId: WorldstateController_getWorldstate[2]
      parameters: []
      responses:
        '200':
          description: Complete worldstate data for the platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldStateDto'
        '301':
          description: Redirected to PC platform
        '404':
          description: Live worldstate is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get worldstate data for a specific platform
      tags:
        - worldstate
  /xb1:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns). Non-PC platforms redirect to pc.
      operationId: WorldstateController_getWorldstate[3]
      parameters: []
      responses:
        '200':
          description: Complete worldstate data for the platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldStateDto'
        '301':
          description: Redirected to PC platform
        '404':
          description: Live worldstate is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get worldstate data for a specific platform
      tags:
        - worldstate
  /swi:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns). Non-PC platforms redirect to pc.
      operationId: WorldstateController_getWorldstate[4]
      parameters: []
      responses:
        '200':
          description: Complete worldstate data for the platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldStateDto'
        '301':
          description: Redirected to PC platform
        '404':
          description: Live worldstate is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get worldstate data for a specific platform
      tags:
        - worldstate
  /ns:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns). Non-PC platforms redirect to pc.
      operationId: WorldstateController_getWorldstate[5]
      parameters: []
      responses:
        '200':
          description: Complete worldstate data for the platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldStateDto'
        '301':
          description: Redirected to PC platform
        '404':
          description: Live worldstate is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get worldstate data for a specific platform
      tags:
        - worldstate
  /pc/{field}:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns) before the field name.
      operationId: WorldstateController_getWorldstateField[0]
      parameters:
        - name: filter
          required: false
          in: query
          description: 'Filter results by field values (format: field:value)'
          schema:
            example: missionType:Assassination
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          examples:
            alerts:
              value: alerts
              description: Active alerts
            invasions:
              value: invasions
              description: Current invasions
            fissures:
              value: fissures
              description: Active void fissures
            sortie:
              value: sortie
              description: Daily sortie missions
          schema: {}
      responses:
        '200':
          description: Worldstate field data
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                  - type: object
        '301':
          description: Redirected to PC platform
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a specific field from worldstate
      tags:
        - worldstate
  /ps4/{field}:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns) before the field name.
      operationId: WorldstateController_getWorldstateField[1]
      parameters:
        - name: filter
          required: false
          in: query
          description: 'Filter results by field values (format: field:value)'
          schema:
            example: missionType:Assassination
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          examples:
            alerts:
              value: alerts
              description: Active alerts
            invasions:
              value: invasions
              description: Current invasions
            fissures:
              value: fissures
              description: Active void fissures
            sortie:
              value: sortie
              description: Daily sortie missions
          schema: {}
      responses:
        '200':
          description: Worldstate field data
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                  - type: object
        '301':
          description: Redirected to PC platform
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a specific field from worldstate
      tags:
        - worldstate
  /psn/{field}:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns) before the field name.
      operationId: WorldstateController_getWorldstateField[2]
      parameters:
        - name: filter
          required: false
          in: query
          description: 'Filter results by field values (format: field:value)'
          schema:
            example: missionType:Assassination
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          examples:
            alerts:
              value: alerts
              description: Active alerts
            invasions:
              value: invasions
              description: Current invasions
            fissures:
              value: fissures
              description: Active void fissures
            sortie:
              value: sortie
              description: Daily sortie missions
          schema: {}
      responses:
        '200':
          description: Worldstate field data
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                  - type: object
        '301':
          description: Redirected to PC platform
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a specific field from worldstate
      tags:
        - worldstate
  /xb1/{field}:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns) before the field name.
      operationId: WorldstateController_getWorldstateField[3]
      parameters:
        - name: filter
          required: false
          in: query
          description: 'Filter results by field values (format: field:value)'
          schema:
            example: missionType:Assassination
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          examples:
            alerts:
              value: alerts
              description: Active alerts
            invasions:
              value: invasions
              description: Current invasions
            fissures:
              value: fissures
              description: Active void fissures
            sortie:
              value: sortie
              description: Daily sortie missions
          schema: {}
      responses:
        '200':
          description: Worldstate field data
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                  - type: object
        '301':
          description: Redirected to PC platform
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a specific field from worldstate
      tags:
        - worldstate
  /swi/{field}:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns) before the field name.
      operationId: WorldstateController_getWorldstateField[4]
      parameters:
        - name: filter
          required: false
          in: query
          description: 'Filter results by field values (format: field:value)'
          schema:
            example: missionType:Assassination
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          examples:
            alerts:
              value: alerts
              description: Active alerts
            invasions:
              value: invasions
              description: Current invasions
            fissures:
              value: fissures
              description: Active void fissures
            sortie:
              value: sortie
              description: Daily sortie missions
          schema: {}
      responses:
        '200':
          description: Worldstate field data
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                  - type: object
        '301':
          description: Redirected to PC platform
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a specific field from worldstate
      tags:
        - worldstate
  /ns/{field}:
    get:
      description: Use a platform path prefix (pc, ps4, psn, xb1, swi, ns) before the field name.
      operationId: WorldstateController_getWorldstateField[5]
      parameters:
        - name: filter
          required: false
          in: query
          description: 'Filter results by field values (format: field:value)'
          schema:
            example: missionType:Assassination
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          examples:
            alerts:
              value: alerts
              description: Active alerts
            invasions:
              value: invasions
              description: Current invasions
            fissures:
              value: fissures
              description: Active void fissures
            sortie:
              value: sortie
              description: Daily sortie missions
          schema: {}
      responses:
        '200':
          description: Worldstate field data
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                  - type: object
        '301':
          description: Redirected to PC platform
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a specific field from worldstate
      tags:
        - worldstate
  /de/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[0]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /es/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[1]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /fr/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[2]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /it/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[3]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /ko/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[4]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /pl/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[5]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /pt/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[6]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /ru/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[7]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /zh/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[8]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /cs/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[9]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /sr/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[10]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /uk/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[11]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /en/{field}:
    get:
      description: Use a language path prefix (de, es, fr, it, ko, pl, pt, ru, zh, cs, sr, uk, en) before the field name.
      operationId: WorldstateController_getWorldstateFieldByLanguage[12]
      parameters:
        - name: field
          required: true
          in: path
          description: Worldstate field name (e.g., alerts, invasions, fissures)
          schema: {}
      responses:
        '200':
          description: Worldstate field data
        '404':
          description: Requested worldstate field was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStructuredNotFoundDto'
      summary: Get a worldstate field in a specific language
      tags:
        - worldstate
  /pc/alerts:
    get:
      description: Alerts
      operationId: getPcAlerts
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Alerts retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Alerts
      tags:
        - worldstate
  /pc/arbitration:
    get:
      description: Arbitration
      operationId: getPcArbitration
      parameters: []
      responses:
        '200':
          description: Arbitration retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalMissionDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Arbitration
      tags:
        - worldstate
  /pc/archimedeas:
    get:
      description: Archimedeas
      operationId: getPcArchimedeas
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Archimedeas retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArchimedeaDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Archimedeas
      tags:
        - worldstate
  /pc/archonHunt:
    get:
      description: Archon Hunt
      operationId: getPcArchonHunt
      parameters: []
      responses:
        '200':
          description: Archon Hunt retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SortieDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Archon Hunt
      tags:
        - worldstate
  /pc/buildLabel:
    get:
      description: Build Label
      operationId: getPcBuildLabel
      parameters: []
      responses:
        '200':
          description: Build Label retrieved successfully
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Build Label
      tags:
        - worldstate
  /pc/calendar:
    get:
      description: Calendar
      operationId: getPcCalendar
      parameters: []
      responses:
        '200':
          description: Calendar retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Calendar
      tags:
        - worldstate
  /pc/cambionCycle:
    get:
      description: Cambion Cycle
      operationId: getPcCambionCycle
      parameters: []
      responses:
        '200':
          description: Cambion Cycle retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CambionCycleDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Cambion Cycle
      tags:
        - worldstate
  /pc/cetusCycle:
    get:
      description: Cetus Cycle
      operationId: getPcCetusCycle
      parameters: []
      responses:
        '200':
          description: Cetus Cycle retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CetusCycleDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Cetus Cycle
      tags:
        - worldstate
  /pc/conclaveChallenges:
    get:
      description: Conclave Challenges
      operationId: getPcConclaveChallenges
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Conclave Challenges retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConclaveChallengeDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Conclave Challenges
      tags:
        - worldstate
  /pc/constructionProgress:
    get:
      description: Construction Progress
      operationId: getPcConstructionProgress
      parameters: []
      responses:
        '200':
          description: Construction Progress retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstructionProgressDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Construction Progress
      tags:
        - worldstate
  /pc/dailyDeals:
    get:
      description: Daily Deals
      operationId: getPcDailyDeals
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Daily Deals retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DailyDealDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Daily Deals
      tags:
        - worldstate
  /pc/darkSectors:
    get:
      description: Dark Sectors
      operationId: getPcDarkSectors
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Dark Sectors retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DarkSectorDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Dark Sectors
      tags:
        - worldstate
  /pc/duviriCycle:
    get:
      description: Duviri Cycle
      operationId: getPcDuviriCycle
      parameters: []
      responses:
        '200':
          description: Duviri Cycle retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuviriCycleDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Duviri Cycle
      tags:
        - worldstate
  /pc/earthCycle:
    get:
      description: Earth Cycle
      operationId: getPcEarthCycle
      parameters: []
      responses:
        '200':
          description: Earth Cycle retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarthCycleDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Earth Cycle
      tags:
        - worldstate
  /pc/events:
    get:
      description: Events
      operationId: getPcEvents
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorldEventDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Events
      tags:
        - worldstate
  /pc/faceoffBonus:
    get:
      description: Faceoff Bonus
      operationId: getPcFaceoffBonus
      parameters: []
      responses:
        '200':
          description: Faceoff Bonus retrieved successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Faceoff Bonus
      tags:
        - worldstate
  /pc/fissures:
    get:
      description: Fissures
      operationId: getPcFissures
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Fissures retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FissureDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Fissures
      tags:
        - worldstate
  /pc/flashSales:
    get:
      description: Flash Sales
      operationId: getPcFlashSales
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Flash Sales retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlashSaleDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Flash Sales
      tags:
        - worldstate
  /pc/globalUpgrades:
    get:
      description: Global Upgrades
      operationId: getPcGlobalUpgrades
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Global Upgrades retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalUpgradeDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Global Upgrades
      tags:
        - worldstate
  /pc/invasions:
    get:
      description: Invasions
      operationId: getPcInvasions
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Invasions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvasionDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Invasions
      tags:
        - worldstate
  /pc/kinepage:
    get:
      description: Kinepage
      operationId: getPcKinepage
      parameters: []
      responses:
        '200':
          description: Kinepage retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KinepageDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Kinepage
      tags:
        - worldstate
  /pc/kuva:
    get:
      description: Kuva
      operationId: getPcKuva
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Kuva retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalMissionDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Kuva
      tags:
        - worldstate
  /pc/news:
    get:
      description: News
      operationId: getPcNews
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: News retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewsDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get News
      tags:
        - worldstate
  /pc/nightwave:
    get:
      description: Nightwave
      operationId: getPcNightwave
      parameters: []
      responses:
        '200':
          description: Nightwave retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NightwaveDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Nightwave
      tags:
        - worldstate
  /pc/persistentEnemies:
    get:
      description: Persistent Enemies
      operationId: getPcPersistentEnemies
      parameters:
        - name: filter
          required: false
          in: query
          description: Filter results by field:value pairs, comma-separated (e.g., "active:true,tier:Lith")
          schema:
            example: active:true
      responses:
        '200':
          description: Persistent Enemies retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersistentEnemyDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Persistent Enemies
      tags:
        - worldstate
  /pc/questToConquerCancer:
    get:
      description: Quest To Conquer Cancer
      operationId: getPcQuestToConquerCancer
      parameters: []
      responses:
        '200':
          description: Quest To Conquer Cancer retrieved successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Quest To Conquer Cancer
      tags:
        - worldstate
  /pc/sentientOutposts:
    get:
      description: Sentient Outposts
      operationId: getPcSentientOutposts
      parameters: []
      responses:
        '200':
          description: Sentient Outposts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentientOutpostDto'
        '404':
          description: Worldstate or field is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMessageNotFoundDto'
      summary: Get Sentient Outposts
      tags:
        - worldstate
  /pc/simaris:
    get:
      description: Simaris
      operationId: getPcSimaris
      parameters: []
      responses:
        '200':
          description: Simaris retrieved successfully
          content:
            application/json:
              schema:
[...]
