{
  "openapi": "3.0.1",
  "info": {
    "title": "WarframeStat.us API",
    "description": "Simple API for data from the game Warframe.",
    "contact": {
      "email": "wf-com-dev@warframestat.us"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "living",
    "x-logo": {
      "url": "https://warframestat.us/wfcd_logo_color.png"
    }
  },
  "externalDocs": {
    "description": "Find out more about Warframe",
    "url": "https://warframe.com"
  },
  "servers": [
    {
      "url": "https://api.warframestat.us/",
      "description": "Preferred production server. Others may be disallowed in the future."
    },
    {
      "url": "http://api.warframestat.us/",
      "description": "Non-https production server"
    },
    {
      "url": "https://ws.warframestat.us/",
      "description": "Deprecated (old) production subdomain"
    },
    {
      "url": "http://ws.warframestat.us/",
      "description": "Deprecated (old) production subdomain, no https"
    }
  ],
  "tags": [
    {
      "name": "Warframe",
      "description": "Everything about Warframe",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://warframe.com"
      }
    },
    {
      "name": "Worldstate",
      "description": "Warframe Worldstate Data",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://discord.gg/jGZxH9f"
      }
    }
  ],
  "paths": {
    "/{platform}": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get Warframe Worldstate Data for the provided platform",
        "description": "The full translated Warframe Worldstate",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ws"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/alerts": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Alerts data",
        "description": "Description and rewards for Alerts",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alert"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/arbitration": {
      "get": {
        "tags": [
          "Worldstate",
          "Unstable"
        ],
        "summary": "[Unstable] Arbitration data",
        "description": "Description of the currently active arbitration",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arbitration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/cetusCycle": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get Current Cetus Status",
        "description": "Data on the Day/night cycle for Cetus on earth",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cetusCycle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/conclaveChallenges": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get Conclave Challenge Data",
        "description": "Data on each day and week's conclave challenges",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/conclaveChallenges"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/constructionProgress": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get Construction Progress for Fomorians and Razorbacks",
        "description": "Construction percentages for showing how far constructed the enemy fleets are.",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/construction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/dailyDeals": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Daily Deal information from Darvo",
        "description": "Darvo's Daily Deal details",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dailyDeals"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/darkSectors": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Dark Sector occupation and history",
        "description": "Dark Sector (Rail Wars) data and history. Digital Extremes has emptied several of these.",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/darkSectors"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        },
        "deprecated": true
      }
    },
    "/{platform}/earthCycle": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get the current Earth rotation information",
        "description": "The current Earth day/night cycle progress.",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/earthCycle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/events": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Listing of ongoing events",
        "description": "Events, such as Fomorian Attacks are included here",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/events"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/fissures": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Data on current fissures",
        "description": "Information about current Void Fissure missions",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fissures"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/flashSales": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Current Flash Sales from Darvo",
        "description": "Popular Deals, discounts, featured deals.",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/flashSales"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/globalUpgrades": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Current Global Upgrades",
        "description": "Any current modifiers applied to all users, such as double drops.",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/globalUpgrades"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/invasions": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Invasion Data",
        "description": "Data on invasion missions, such as estimated completion time, rewards, etc.",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invasions"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/kuva": {
      "get": {
        "tags": [
          "Worldstate",
          "Unstable"
        ],
        "summary": "[Unstable] Current Kuva Mission listing",
        "description": "Current Kuva Mission listing (provided by [semlar](https://10o.io/kuvalog)).",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/kuva"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{platform}/news": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Current Listing of News items",
        "description": "Translated News items from the worldstate",
        "parameters": [
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/news"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/nightwave": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get the current Nightwave state.",
        "description": "The Current cycle and challenges of Nightwave, a battle-pass-esque rotation and challenge system",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nightwave"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/persistentEnemies": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get Persistent Enemy Data",
        "description": "Data about current acolytes attacking the Sol System",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/persistentEnemies"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/rivens": {
      "get": {
        "tags": [
          "Worldstate",
          "Rivens"
        ],
        "summary": "Get Riven statistic data",
        "description": "Data about averages, deviations, medians, miniums, and maxes for all rivens for the provided platform",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rivenType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/rivens/search/{query}": {
      "get": {
        "tags": [
          "Worldstate",
          "Rivens"
        ],
        "summary": "Get Riven statistic data",
        "description": "Data about averages, deviations, medians, miniums, and maxes for rivens whose name match the query for the provided platform",
        "parameters": [
          {
            "$ref": "#/components/parameters/platform"
          },
          {
            "name": "query",
            "in": "path",
            "description": "Riven name to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rivenType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/sentientOutposts": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get the current Sentient Outpost, if any",
        "description": "Status data for current Sentient Outpost, if any. Parsed source is combined data from DE\\'s worldstate and [semlar\\'s data](https://semlar.com/anomaly.json)",
        "parameters": [
          {
            "$ref": "#/components/parameters/platform"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mission": {
                      "$ref": "#/components/schemas/mission"
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Whether or not the outpost is active"
                    },
                    "id": {
                      "type": "string",
                      "description": "Identifier for the mission node with active indicator"
                    },
                    "activation": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the mission became or becomes active"
                    },
                    "expiry": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the mission became or becomes inactive"
                    },
                    "previous": {
                      "description": "Estimation data for the last mission that was active. Could also be the current.",
                      "type": "object",
                      "properties": {
                        "activation": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the mission became or becomes active"
                        },
                        "expiry": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the mission became or becomes inactive"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/simaris": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get the current Sanctuary Status",
        "description": "Status data for Simaris' Sanctuary",
        "parameters": [
          {
            "$ref": "#/components/parameters/platform"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/simaris"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/sortie": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Current Sortie Data",
        "description": "Data about the missions for the current sortie",
        "parameters": [
          {
            "$ref": "#/components/parameters/platform"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sortie"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/syndicateMissions": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Listing of Syndicate mission nodes",
        "description": "Cycling through different nodes each day, these are a general listing of the nodes that each syndicate will use for the day.",
        "parameters": [
          {
            "$ref": "#/components/parameters/platform"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/syndicateMissions"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/timestamp": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get the timestamp that the current worldstate was generated at.",
        "description": "The time that the worldstate was last generated",
        "parameters": [
          {
            "$ref": "#/components/parameters/platform"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timestamp"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/vallisCycle": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get the current state of the Orb Vallis",
        "description": "The current cycle of the Orb Vallis warm/cold cycle",
        "parameters": [
          {
            "$ref": "#/components/parameters/platform"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vallisCycle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/{platform}/voidTrader": {
      "get": {
        "tags": [
          "Worldstate"
        ],
        "summary": "Get the current Void Trader Information",
        "description": "Information on the current Void Trader offerings, or when he will arrive.",
        "parameters": [
          {
            "$ref": "#/components/parameters/platform"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Content-Language": {
                "$ref": "#/components/headers/Content-Language"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voidTrader"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/arcanes": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Arcane Enhancement Data",
        "description": "Available Arcane Enhancements",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arcane"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/arcanes/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Arcane Enhancement Data based on the query",
        "description": "Available Arcane Enhancements",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arcane"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/conclave": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get conclave challenge data",
        "description": "Data about conclave challenges",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/conclave"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/conclave/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get conclave challenge data based on the query",
        "description": "Data about conclave challenges",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/conclave"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/drops/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Warframe Drops data",
        "description": "Percentages for Warframe drops in different areas of the game",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/drops"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Event-specific Data",
        "description": "Data about events",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/events/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Event-specific Data based on the query",
        "description": "Data about events",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/factions": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Faction translation information.",
        "description": "Strings for translating faction identifiers.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/factions"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/factions/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Faction translation information based on the query.",
        "description": "Strings for translating faction identifiers.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/factions"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/fissureModifiers": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Fissure Modifier translation data.",
        "description": "Fissure translation identifiers",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fissureModifiers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/fissureModifiers/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Fissure Modifier translation data based on the query.",
        "description": "Fissure translation identifiers",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fissureModifiers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/items/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Warframe Items data",
        "description": "Item information, such as name, unique name, type, and image name.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/languages": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Language strings for Warframe.",
        "description": "Get language strings to assist translation. (Prefer the /languages/search/:query route)",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/languages"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/languages/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Language strings for Warframe based on the query.",
        "description": "Get language strings to assist translation.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/languages"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/locales": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Full list of supported locales",
        "description": "Locales supported by the API",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/language"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/missionTypes": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get MissionType Translation Keys",
        "description": "Mission Type information to aid translating identifiers",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/missionTypes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/missionTypes/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get MissionType Translation Keys based on the query",
        "description": "Mission Type information to aid translating identifiers",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/missionTypes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/operationTypes": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get operation types data.",
        "description": "Operation Types information to aid translating identifiers for global upgrades",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/operationTypes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/operationTypes/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get operation types data based on the query.",
        "description": "Operation Types information to aid translating identifiers for global upgrades",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/operationTypes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/persistentEnemy": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Persistent Enemy translation data.",
        "description": "Persistent Enemy translation information for aiding translation of identifiers.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/persistentEnemies"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/persistentEnemy/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Persistent Enemy translation data based on the query.",
        "description": "Persistent Enemy translation information for aiding translation of identifiers.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/persistentEnemies"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/solNodes": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Sol Node information and translation data.",
        "description": "Sol Node translation information for aiding the translation of identifiers.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/solNode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/solNodes/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Sol Node information and translation data based on the query.",
        "description": "Sol Node translation information for aiding the translation of identifiers.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/solNodeSearch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/sortie": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Sortie translation information.",
        "description": "Sortie translation information for assisting translation of identifiers.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sortieData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/sortie/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Sortie translation information based on the query.",
        "description": "Sortie translation information for assisting translation of identifiers.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sortieData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/syndicates": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Syndicate translation data.",
        "description": "Information to assist translating syndicate identifiers.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/syndicates"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/syndicates/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Syndicate translation data based on the query.",
        "description": "Information to assist translating syndicate identifiers.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/syndicates"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/tutorials": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Tutorials Data",
        "description": "Tutorials data from DE",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tutorials"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/tutorials/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Tutorials Data based on the query",
        "description": "Tutorials data from DE",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tutorials"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/upgradeTypes": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get upgrade types data for global upgrades.",
        "description": "Upgrade types for what can be changed by global modifiers, such as double credit weekends.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/upgradeTypes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/upgradeTypes/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get upgrade types data for global upgrades based on the query.",
        "description": "Upgrade types for what can be changed by global modifiers, such as double credit weekends.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/upgradeTypes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/warframes": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Warframe specs and data, such as polarities defenses, and profile.",
        "description": "Warframe stats and general information.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/warframes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/warframes/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Warframe specs and data, such as polarities defenses, and profile based on the query.",
        "description": "Warframe stats and general information.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/warframes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/weapons": {
      "get": {
        "tags": [
          "Static Processing Data"
        ],
        "summary": "Get Weapon data and statistics.",
        "description": "Weapon statistics.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/weapons"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/weapons/search/{query}": {
      "get": {
        "tags": [
          "Searchable"
        ],
        "summary": "Get Weapon data and statistics based on the query.",
        "description": "Weapon statistics.",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "utf8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/weapons"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "alert": {
        "type": "object",
        "properties": {
          "mission": {
            "$ref": "#/components/schemas/mission"
          },
          "expired": {
            "type": "boolean"
          },
          "eta": {
            "minLength": 1,
            "type": "string"
          },
          "id": {
            "minLength": 1,
            "type": "string"
          },
          "expiry": {
            "minLength": 1,
            "type": "string",
            "format": "date-time"
          },
          "activation": {
            "minLength": 1,
            "type": "string",
            "format": "date-time"
          },
          "rewardTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rewardType"
            }
          }
        },
        "required": [
          "activation",
          "eta",
          "expired",
          "expiry",
          "id"
        ]
      },
      "arbitration": {
        "type": "object",
        "properties": {
          "activation": {
            "type": "string",
            "format": "date-time",
            "description": "When the Arbitration becomes active"
          },
          "expiry": {
            "type": "string",
            "format": "date-time",
            "description": "When the Arbitration becomes inactive"
          },
          "node": {
            "type": "string",
            "description": "Plain name for the node"
          },
          "enemy": {
            "$ref": "#/components/schemas/faction"
          },
          "type": {
            "type": "string",
            "description": "Mission type"
          },
          "archwing": {
            "type": "boolean",
            "description": "Whether or not this mission requires archwing"
          },
          "sharkwing": {
            "type": "boolean",
            "description": "Whether or not this mission requires sharkwing"
          }
        }
      },
      "arcane": {
        "required": [
          "effect",
          "info",
          "location",
          "name",
          "rarity",
          "regex",
          "thumbnail"
        ],
        "type": "object",
        "properties": {
          "regex": {
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "effect": {
            "minLength": 1,
            "type": "string"
          },
          "rarity": {
            "minLength": 1,
            "type": "string"
          },
          "location": {
            "minLength": 1,
            "type": "string"
          },
          "thumbnail": {
            "minLength": 1,
            "type": "string"
          },
          "info": {
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "cetusCycle": {
        "required": [
          "expiry",
          "id",
          "isCetus",
          "isDay",
          "timeLeft"
        ],
        "type": "object",
        "properties": {
          "id": {
            "minLength": 1,
            "type": "string"
          },
          "expiry": {
            "minLength": 1,
            "type": "string"
          },
          "activation": {
            "type": "string"
          },
          "isDay": {
            "type": "boolean"
          },
          "state": {
            "type": "string",
            "description": "Describes the current time. e.g. \"day\" or \"night\""
          },
          "timeLeft": {
            "minLength": 1,
            "type": "string"
          },
          "isCetus": {
            "type": "boolean"
          },
          "shortString": {
            "type": "string",
            "description": "A short description of the remaining time until the next day/night change."
          }
        }
      },
      "conclave": {
        "required": [
          "categories",
          "modes"
        ],
        "type": "object",
        "properties": {
          "modes": {
            "required": [
              "PVPMODE_ALL",
              "PVPMODE_CAPTURETHEFLAG",
              "PVPMODE_DEATHMATCH",
              "PVPMODE_NONE",
              "PVPMODE_SPEEDBALL",
              "PVPMODE_TEAMDEATHMATCH"
            ],
            "type": "object",
            "properties": {
              "PVPMODE_ALL": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              },
              "PVPMODE_TEAMDEATHMATCH": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              },
              "PVPMODE_NONE": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              },
              "PVPMODE_CAPTURETHEFLAG": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              },
              "PVPMODE_SPEEDBALL": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              },
              "PVPMODE_DEATHMATCH": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              }
            }
          },
          "categories": {
            "required": [
              "PVPChallengeTypeCategory_DAILY",
              "PVPChallengeTypeCategory_DAILY_ROOT",
              "PVPChallengeTypeCategory_MODEAFFECTOR",
              "PVPChallengeTypeCategory_WEEKLY",
              "PVPChallengeTypeCategory_WEEKLY_ROOT"
            ],
            "type": "object",
            "properties": {
              "PVPChallengeTypeCategory_DAILY_ROOT": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              },
              "PVPChallengeTypeCategory_DAILY": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              },
              "PVPChallengeTypeCategory_WEEKLY": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              },
              "PVPChallengeTypeCategory_WEEKLY_ROOT": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              },
              "PVPChallengeTypeCategory_MODEAFFECTOR": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "minLength": 1,
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "conclaveChallenges": {
        "minItems": 1,
        "type": "array",
        "items": {
          "required": [
            "amount",
            "asString",
            "category",
            "daily",
            "description",
            "endString",
            "eta",
            "expired",
            "expiry",
            "id",
            "mode",
            "rootChallenge"
          ],
          "type": "object",
          "properties": {
            "mode": {
              "minLength": 1,
              "type": "string"
            },
            "amount": {
              "type": "number"
            },
            "eta": {
              "minLength": 1,
              "type": "string"
            },
            "expired": {
              "type": "boolean"
            },
            "endString": {
              "minLength": 1,
              "type": "string"
            },
            "daily": {
              "type": "boolean"
            },
            "description": {
              "minLength": 1,
              "type": "string"
            },
            "id": {
              "minLength": 1,
              "type": "string"
            },
            "expiry": {
              "minLength": 1,
              "type": "string"
            },
            "asString": {
              "minLength": 1,
              "type": "string"
            },
            "category": {
              "minLength": 1,
              "type": "string"
            },
            "rootChallenge": {
              "type": "boolean"
            }
          }
        }
      },
      "construction": {
        "required": [
          "fomorianProgress",
          "id",
          "razorbackProgress",
          "unknownProgress"
        ],
        "type": "object",
        "properties": {
          "id": {
            "minLength": 1,
            "type": "string"
          },
          "fomorianProgress": {
            "minLength": 1,
            "type": "string"
          },
          "razorbackProgress": {
            "minLength": 1,
            "type": "string"
          },
          "unknownProgress": {
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "dailyDeals": {
        "minItems": 1,
        "type": "array",
        "items": {
          "required": [
            "discount",
            "eta",
            "expiry",
            "id",
            "item",
            "originalPrice",
            "salePrice",
            "sold",
            "total"
          ],
          "type": "object",
          "properties": {
            "sold": {
              "type": "number"
            },
            "item": {
              "minLength": 1,
              "type": "string"
            },
            "total": {
              "type": "number"
            },
            "eta": {
              "minLength": 1,
              "type": "string"
            },
            "originalPrice": {
              "type": "number"
            },
            "salePrice": {
              "type": "number"
            },
            "discount": {
              "type": "number"
            },
            "expiry": {
              "minLength": 1,
              "type": "string"
            },
            "id": {
              "minLength": 1,
              "type": "string"
            }
          }
        }
      },
      "darkSectorHistory": {
        "type": "object",
        "description": "Describes a Dark Sector Historical Battle.",
        "properties": {
          "defender": {
            "type": "string",
            "description": "Clan or alliance that was defending."
          },
          "defenderIsAlliance": {
            "type": "boolean",
            "description": "Whether or not the defender was an alliance."
          },
          "attacker": {
            "type": "string",
            "description": "Clan or alliance that was attacking."
          },
          "winner": {
            "type": "string",
            "description": "One of attacker or defender, whichever one won."
          },
          "start": {
            "type": "string",
            "description": "When the battle started."
          },
          "end": {
            "type": "string",
            "description": "When the battle ended."
          }
        }
      },
      "darkSectors": {
        "minItems": 1,
        "type": "array",
        "items": {
          "required": [
            "defenderDeployemntActivation",
            "defenderMOTD",
            "defenderName",
            "deployerClan",
            "deployerName",
            "id",
            "isAlliance"
          ],
          "type": "object",
          "properties": {
            "defenderMOTD": {
              "minLength": 1,
              "type": "string"
            },
            "deployerName": {
              "minLength": 1,
              "type": "string"
            },
            "defenderDeploymentActivation": {
              "type": "number"
            },
            "defenderName": {
              "minLength": 1,
              "type": "string"
            },
            "deployerClan": {
              "minLength": 1,
              "type": "string"
            },
            "isAlliance": {
              "type": "boolean"
            },
            "id": {
              "minLength": 1,
              "type": "string"
            },
            "history": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/darkSectorHistory"
              }
            }
          }
        }
      },
      "drops": {
        "minItems": 1,
        "type": "array",
        "description": "",
        "items": {
          "required": [
            "chance",
            "item",
            "place",
            "rarity"
          ],
          "type": "object",
          "properties": {
            "item": {
              "minLength": 1,
              "type": "string"
            },
            "chance": {
              "type": "number"
            },
            "place": {
              "minLength": 1,
              "type": "string"
            },
            "rarity": {
              "minLength": 1,
              "type": "string"
            }
          }
        }
      },
      "earthCycle": {
        "required": [
          "expiry",
          "id",
          "isDay",
          "timeLeft"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "expiry": {
            "minLength": 1,
            "type": "string"
          },
          "isDay": {
            "type": "boolean"
          },
          "timeLeft": {
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "event": {
        "type": "object",
        "properties": {
          "activation": {
            "type": "string",
            "description": "Timestamp of when the event started",
            "format": "date-time"
          },
          "expiry": {
            "type": "string",
            "description": "Timestamp of when the event ends",
            "format": "date-time"
          },
          "maximumScore": {
            "type": "number",
            "description": "Maximum score to complete the event"
          },
          "currentScore": {
            "type": "number",
            "description": "The current score for the event"
          },
          "smallInterval": {
            "type": "number",
            "description": "Interval for the first goal"
          },
          "largeInterval": {
            "type": "number",
            "description": "Interval for the second intermediate score"
          },
          "faction": {
            "$ref": "#/components/schemas/faction"
          },
          "description": {
            "type": "string",
            "description": "The description or \"subtitle\" for the event."
          },
          "tooltip": {
            "type": "string",
            "description": "Tooltip for the event"
          },
          "node": {
            "type": "string",
            "description": "Node that the event is taking place on"
          },
          "concurrentNodes": {
            "type": "array",
            "description": "Nodes that the event is happening concurrently on",
            "items": {
              "type": "string"
            }
          },
          "victimNode": {
            "type": "string",
            "description": "Node that is being attacked & defended in the event."
          },
          "scoreLocTag": {
            "type": "string",
            "description": "Localized tag for the event score"
          },
          "rewards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/reward"
            }
          },
          "expired": {
            "type": "boolean",
            "description": "Whether or not the event is expired"
          },
          "health": {
            "type": "number",
            "description": "Amount of health remaining for the target"
          },
          "affiliatedWith": {
            "$ref": "#/components/schemas/syndicate"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/syndicateJob"
            }
          },
          "interimSteps": {
            "type": "array",
            "description": "Interim steps, marking progress towards the final goal.",
            "items": {
              "type": "object",
              "properties": {
                "goal": {
                  "type": "number",
                  "description": "Score to each to achieve this step"
                },
                "reward": {
                  "$ref": "#/components/schemas/reward"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "sender": {
                      "type": "string",
                      "description": "Who commissioned this reward"
                    },
                    "subject": {
                      "type": "string",
                      "description": "Title of the in-game mail received for completing the step."
                    },
                    "message": {
                      "type": "string",
                      "description": "Body of the in-game mail received for completing the step."
                    },
                    "senderIcon": {
                      "type": "string",
                      "description": "Path to sender icon string."
                    },
                    "attachments": {
                      "type": "array",
                      "description": "Attachments to the message. Unknown usage.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "winnerCount": {
                  "type": "number",
                  "description": "Suspected to be the number of persons who have completed this step."
                }
              }
            }
          },
          "progressSteps": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Steps in the progress to completion"
              },
              "progressAmt": {
                "type": "number",
                "description": "Percent progress to completion"
              }
            }
          },
          "progressTotal": {
            "type": "number",
            "description": "Total of progressSteps values."
          },
          "showTotalAtEndOfMission": {
            "type": "boolean",
            "description": "Whether or not to show the total score at the end of the mission"
          },
          "isPersonal": {
            "type": "boolean",
            "description": "Whether or not the event is personal"
          },
          "isCommunity": {
            "type": "boolean",
            "description": "Whether or not the event is communal"
          },
          "regionDrops": {
            "type": "array",
            "description": "Drops in the area around the event node",
            "items": {
              "type": "string"
            }
          },
          "archwingDrops": {
            "type": "array",
            "description": "Archwing Drops in effect while this event is active",
            "items": {
              "type": "string"
            }
          },
          "asString": {
            "type": "string",
            "description": "Attempt to summarize event in a short string. (Do not use)."
          },
          "metadata": {
            "type": "object",
            "description": "Miscellaneous metadata in a string provided by Digital Extremes"
          },
          "completionBonuses": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Completion bonus amounts per-stage"
          },
          "scoreVar": {
            "type": "string",
            "description": "Internal string used for unknown purpose"
          },
          "altExpiry": {
            "type": "string",
            "format": "date-time",
            "description": "Alternate Expiry. Use unknown."
          },
          "altActivation": {
            "type": "string",
            "format": "date-time",
            "description": "Alternate Activation. Use unknown."
          },
          "nextAlt": {
            "type": "object",
            "properties": {
              "expiry": {
                "type": "string",
                "format": "date-time",
                "description": "Next alternate expiry. Use unknown."
              },
              "activation": {
                "type": "string",
                "format": "date-time",
                "description": "Next alternate activation. Use unknown."
              }
            }
          }
        }
      },
      "events": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/event"
        }
      },
      "faction": {
        "type": "string",
        "description": "A Faction in Warframe",
        "enum": [
          "Orokin",
          "Corrupted",
          "Infested",
          "Corpus",
          "Grineer",
          "Tenno"
        ]
      },
      "factions": {
        "required": [
          "FC_CORPUS",
          "FC_CORRUPTED",
          "FC_GRINEER",
          "FC_INFESTATION",
          "FC_OROKIN"
        ],
        "type": "object",
        "properties": {
          "FC_GRINEER": {
            "required": [
              "value"
            ],
            "type": "object",
            "properties": {
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          },
          "FC_CORPUS": {
            "required": [
              "value"
            ],
            "type": "object",
            "properties": {
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          },
          "FC_INFESTATION": {
            "required": [
              "value"
            ],
            "type": "object",
            "properties": {
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          },
          "FC_CORRUPTED": {
            "required": [
              "value"
            ],
            "type": "object",
            "properties": {
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          },
          "FC_OROKIN": {
            "required": [
              "value"
            ],
            "type": "object",
            "properties": {
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          }
        },
        "description": ""
      },
      "fissure": {
        "type": "object",
        "required": [
          "activation",
          "enemy",
          "eta",
          "expired",
          "expiry",
          "id",
          "missionType",
          "node",
          "tier",
          "tierNum"
        ],
        "properties": {
          "node": {
            "minLength": 1,
            "type": "string"
          },
          "expired": {
            "type": "boolean"
          },
          "eta": {
            "minLength": 1,
            "type": "string"
          },
          "missionType": {
            "minLength": 1,
            "type": "string"
          },
          "tier": {
            "minLength": 1,
            "type": "string"
          },
          "tierNum": {
            "type": "number"
          },
          "enemy": {
            "minLength": 1,
            "type": "string"
          },
          "id": {
            "minLength": 1,
            "type": "string"
          },
          "expiry": {
            "minLength": 1,
            "type": "string",
            "format": "date-time"
          },
          "activation": {
            "minLength": 1,
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "fissureModifiers": {
        "required": [
          "VoidT1",
          "VoidT2",
          "VoidT3",
          "VoidT4"
        ],
        "type": "object",
        "properties": {
          "VoidT1": {
            "required": [
              "num",
              "value"
            ],
            "type": "object",
            "properties": {
              "num": {
                "type": "number"
              },
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          },
          "VoidT2": {
            "required": [
              "num",
              "value"
            ],
            "type": "object",
            "properties": {
              "num": {
                "type": "number"
              },
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          },
          "VoidT3": {
            "required": [
              "num",
              "value"
            ],
            "type": "object",
            "properties": {
              "num": {
                "type": "number"
              },
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          },
          "VoidT4": {
            "required": [
              "num",
              "value"
            ],
            "type": "object",
            "properties": {
              "num": {
                "type": "number"
              },
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          }
        },
        "description": ""
      },
      "fissures": {
        "minItems": 1,
        "items": {
          "$ref": "#/components/schemas/fissure"
        }
      },
      "flashSales": {
        "minItems": 1,
        "type": "array",
        "items": {
          "required": [
            "discount",
            "eta",
            "expired",
            "expiry",
            "id",
            "isFeatured",
            "isPopular",
            "item",
            "premiumOverride"
          ],
          "type": "object",
          "properties": {
            "item": {
              "minLength": 1,
              "type": "string"
            },
            "expired": {
              "type": "boolean"
            },
            "eta": {
              "minLength": 1,
              "type": "string"
            },
            "discount": {
              "type": "number"
            },
            "premiumOverride": {
              "type": "number"
            },
            "isPopular": {
              "type": "boolean"
            },
            "expiry": {
              "minLength": 1,
              "type": "string"
            },
            "id": {
              "minLength": 1,
              "type": "string"
            },
            "isFeatured": {
              "type": "boolean"
            }
          }
        }
      },
      "globalUpgrades": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "start": {
              "type": "string"
            },
            "end": {
              "type": "string"
            },
            "upgrade": {
              "type": "string"
            },
            "operation": {
              "description": "Operation descriptor",
              "type": "string"
            },
            "operationSymbol": {
              "description": "Symbol corresponding to operation",
              "type": "string"
            },
            "upgradeOperationValue": {
              "description": "Value corresponding to performing the operation",
              "type": "number"
            },
            "expired": {
              "description": "Whether or not the upgrade has expired",
              "type": "boolean"
            },
            "eta": {
              "description": "Formatted short string designating when the upgrade will expire.",
              "type": "string"
            },
            "desc": {
              "description": "Plain text description of the global upgrade.",
              "type": "string"
            }
          }
        }
      },
      "invasion": {
        "required": [
          "activation",
          "attackingFaction",
          "completed",
          "completion",
          "count",
          "defendingFaction",
          "desc",
          "eta",
          "id",
          "node",
          "requiredRuns",
          "vsInfestation"
        ],
        "type": "object",
        "properties": {
          "defenderReward": {
            "$ref": "#/components/schemas/reward"
          },
          "attackingFaction": {
            "minLength": 1,
            "type": "string"
          },
          "completion": {
            "type": "number"
          },
          "attackerReward": {
            "$ref": "#/components/schemas/reward"
          },
          "count": {
            "type": "number"
          },
          "completed": {
            "type": "boolean"
          },
          "requiredRuns": {
            "type": "number"
          },
          "vsInfestation": {
            "type": "boolean"
          },
          "node": {
            "minLength": 1,
            "type": "string"
          },
          "eta": {
            "minLength": 1,
            "type": "string"
          },
          "defendingFaction": {
            "minLength": 1,
            "type": "string"
          },
          "id": {
            "minLength": 1,
            "type": "string"
          },
          "activation": {
            "minLength": 1,
            "type": "string",
            "format": "date-time"
          },
          "rewardTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rewardType"
            }
          },
          "desc": {
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "invasions": {
        "minItems": 1,
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/invasion"
        }
      },
      "item": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "uniqueName": {
            "type": "string"
          }
        }
      },
      "items": {
        "minItems": 0,
        "type": "array",
        "description": "An item from Warframe",
        "items": {
          "$ref": "#/components/schemas/item"
        }
      },
      "kuva": {
        "type": "object",
        "properties": {
          "activation": {
            "type": "string",
            "format": "date-time",
            "description": "When the Kuva group becomes active"
          },
          "expiry": {
            "type": "string",
            "format": "date-time",
            "description": "When the Kuva group becomes inactive"
          },
          "node": {
            "type": "string",
            "description": "Plain name for the node"
          },
          "enemy": {
            "$ref": "#/components/schemas/faction"
          },
          "type": {
            "type": "string",
            "description": "Mission type"
          },
          "node_type": {
            "type": "string",
            "description": "Internal node-type string for denoting what kind of node it is"
          },
          "archwing": {
            "type": "boolean",
            "description": "Whether or not this mission requires archwing"
          },
          "sharkwing": {
            "type": "boolean",
            "description": "Whether or not this mission requires sharkwing"
          }
        }
      },
      "language": {
        "type": "string",
        "default": "en",
        "enum": [
          "de",
          "es",
          "fr",
          "it",
          "ko",
          "pl",
          "pt",
          "ru",
          "zh",
          "en"
        ]
      },
      "languages": {
        "type": "object",
        "properties": {
          "languageKey": {
            "required": [
              "value"
            ],
            "type": "object",
            "properties": {
              "value": {
                "minLength": 1,
                "type": "string"
              }
            }
          }
        },
        "description": ""
      },
      "meleeWeapon": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "uniqueName": {
            "type": "string"
          },
          "secondsPerShot": {
            "type": "number"
          },
          "totalDamage": {
            "type": "number"
          },
          "damagePerSecond": {
            "type": "number"
          },
          "trigger": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "accuracy": {
            "type": "number"
          },
          "criticalChance": {
            "type": "number"
          },
          "criticalMultiplier": {
            "type": "number"
          },
          "procChance": {
            "type": "number"
          },
          "fireRate": {
            "type": "number"
          },
          "chargeAttack": {
            "type": "number"
          },
          "spinAttack": {
            "type": "number"
          },
          "leapAttack": {
            "type": "number"
          },
          "wallAttack": {
            "type": "number"
          },
          "slot": {
            "type": "number"
          },
          "noise": {
            "type": "string"
          },
          "sentinel": {
            "type": "boolean"
          },
          "masteryReq": {
            "type": "number"
          },
          "omegaAttenuation": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "buildPrice": {
            "type": "number"
          },
          "buildTime": {
            "type": "number"
          },
          "skipBuildTimePrice": {
            "type": "number"
          },
          "buildQuantity": {
            "type": "number"
          },
[...]
