:root {
  --primary: white;
  --secondary: #99aab5;
  --dark: #23272a;
  --darker: rgba(44, 47, 51, 0.8);
  --greyer: rgba(44, 47, 51, 1);
  --dgreen: rgba(0, 170, 19, 0.1);
  --green: rgb(0, 170, 19);
  --red: rgb(229, 57, 53);
  --dred: rgba(229, 57, 53, 0.1);
}

body,
div.cFYLqk,
div .kreCXJ,
div.lbhIE {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  color: var(--primary);
}

body div a:hover,
body div a.hzcviW:hover,
body div div.gFbIth a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

body a,
body div a.hzcviW,
body div div.emjsJn a,
body div div.gFbIth a,
body div > div.fmzkAx a,
body div > div.fmzkAx a:visited,
body div > div.fmzkAx a:hover {
  color: var(--secondary) !important;
  border-color: var(--secondary);
}

body div span.eqivia,
.iILgRz button > * {
  color: var(--secondary);
  border-color: var(--secondary);
}

h2.fAUnug,
.cjtbAK h2.ioYTqA,
div h3.espozG,
div h5.LiUBH,
div h5.kfkaqq,
div h2.loDKCl,
h5 span.kyvWZW,
h3.hJDFuu {
  color: var(--primary);
}

body div a.DykGo::before {
  filter: invert(100%);
}

body div.fTsuzH,
body div.cLybRg {
  background-color: var(--darker);
}

body div div.iAGdoe,
body div button.hWxiqY,
body div button.edhkaR,
body div .krMnBk > .react-tabs__tab-panel {
  color: var(--primary);
  background-color: var(--dark);
}

body div.krMnBk > ul > li.react-tabs__tab--selected {
  background-color: var(--darker);
  border: none;
}

body div.krMnBk > ul > li {
  background-color: var(--dark);
  border-color: var(--darker);
}

body div label.dgtLHO {
  color: var(--secondary);
}

body div label.cAgrCZ {
  color: var(--primary);
}

body div .cAgrCZ .sc-dIsUp polygon,
body div .ghHTBh path,
body div .fynDBI .sc-dIsUp polygon {
  fill: var(--primary);
}

body div label.ljFqHW,
body div label.fynDBI,
body div label.cAgrCZ:hover,
body div label.dgtLHO:hover,
body div label.ljFqHW:hover,
body div label.bVwCeL:hover,
body div label.fynDBI:hover {
  background-color: var(--greyer);
  color: var(--primary);
}

div .QDppq > ul > li.tab-success {
  color: var(--green);
  background: transparent;
  border: 1px solid var(--dgreen);
}

div .QDppq > ul > li.tab-error {
  color: var(--red);
  background: transparent;
  border: 1px solid var(--dred);
}

div .QDppq > ul > li.tab-error.react-tabs__tab--selected {
  border: 1px solid var(--red);
}

div .QDppq > ul > li.tab-success.react-tabs__tab--selected {
  border: 1px solid var(--green);
}

h5 span.hoUoen {
  color: var(--primary);
}

div .hiuczA:not(:last-of-type)::after {
  border-bottom: 1px solid grey;
}

input.ittkuE,
h5.LiUBH {
  border-bottom: 1px solid grey;
}

@media screen and (max-width: 50rem) {
  .cIMuiq {
    background-color: var(--dark) !important;
  }

  .euquqW {
    margin-left: auto;
    margin-right: auto;
  }

  .hKdSkY {
    background-color: var(--darker) !important;
  }
}

body div span.elpFbm {
  background-color: var(--darker);
  color: var(--greyer);
}
