name: Actions
on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: |
        npm ci
        npm i warframe-items@latest
        npm i warframe-worldstate-parser@latest
        npm i warframe-worldstate-data@latest
        npm i @wfcd/arsenal-parser@latest
        npm run lint
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16.x ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Verify
        env:
          CI: true
          TWITTER_KEY: ${{ secrets.TWITTER_KEY }}
          TWITTER_SECRET: ${{ secrets.TWITTER_SECRET }}
          TWITTER_TIMEOUT: ${{ secrets.TWITTER_TIMEOUT }}
          TWITTER_BEARER_TOKEN: ${{ secrets.TWITTER_BEARER_TOKEN }}
          WFINFO_FILTERED_ITEMS: ${{ secrets.WFINFO_FILTERED_ITEMS }}
          WFINFO_PRICES: ${{ secrets.WFINFO_PRICES }}
        run: |
          npm ci
          npm i warframe-items@latest
          npm i warframe-worldstate-parser@latest
          npm i warframe-worldstate-data@latest
          npm i @wfcd/arsenal-parser@latest
          npm run build
          npm test
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

