name: Release
on:
  push:
    branches:
      - main
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16.x ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Verify
        env:
          CI: true
          TWITTER_KEY: ${{ secrets.TWITTER_KEY }}
          TWITTER_SECRET: ${{ secrets.TWITTER_SECRET }}
          TWITTER_TIMEOUT: ${{ secrets.TWITTER_TIMEOUT }}
          TWITTER_BEARER_TOKEN:
            ${{ secrets.TWITTER_BEARER_TOKEN }}
        run: |
          npm ci
          npm i warframe-items@latest warframe-worldstate-parser@latest warframe-worldstate-data@latest @wfcd/arsenal-parser@latest
          npm run lint
          npm run build
          npm test
  semantic-release:
    runs-on: ubuntu-latest
    needs: [ test ]
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
        with:
          semantic_version: 18
          extra_plugins: |
            @eclass/semantic-release-sentry-releases@2.11.0
            @semantic-release/git
            @semantic-release/exec
      - run: source .release
      - name: Create Sentry release
        if: ${{ env.SEMANTIC_RELEASE_COMMENCE == 'yes'  }}
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
      # Built from https://blog.benoitblanchon.fr/github-action-run-ssh-commands/
      - name: Deploy - Configure
        if: ${{ env.SEMANTIC_RELEASE_COMMENCE == 'yes'  }}
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/prod.key
          chmod 600 ~/.ssh/prod.key
          cat >>~/.ssh/config <<END
          Host prod
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/prod.key
            StrictHostKeyChecking no
          END
        env:
          SSH_USER: ${{ secrets.PROD_SSH_USER }}
          SSH_KEY: ${{ secrets.PROD_SSH_KEY }}
          SSH_HOST: ${{ secrets.PROD_SSH_HOST }}
      - name: Deploy - Stop Process
        if: ${{ env.SEMANTIC_RELEASE_COMMENCE == 'yes'  }}
        run: ssh prod 'source ~/.zshrc && pm2 kill'
      - name: Deploy - Update server
        if: ${{ env.SEMANTIC_RELEASE_COMMENCE == 'yes'  }}
        run: ssh prod 'source ~/.zshrc && cd ~/warframe-status && git checkout -- . && git fetch --all && git reset --hard origin/main'
      - name: Deploy - Update dependencies
        if: ${{ env.SEMANTIC_RELEASE_COMMENCE == 'yes'  }}
        run: ssh prod 'source ~/.zshrc && cd ~/warframe-status && rm -rf node_modules && nvm install && nvm use && npm ci && npm run build && npm i -g pm2@latest'
      - name: Deploy - Start Process
        if: ${{ env.SEMANTIC_RELEASE_COMMENCE == 'yes'  }}
        run: ssh prod 'source ~/.zshrc && cd ~/warframe-status && pm2 start warframe-status.json'
