name: Release
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Setup WireGuard
        uses: niklaskeerl/easy-wireguard-action@v2
        with:
          WG_CONFIG_FILE: ${{ secrets.WG_CONFIG }}
      - name: Verify
        env:
          CI: true
          TWITTER_KEY: ${{ secrets.TWITTER_KEY }}
          TWITTER_SECRET: ${{ secrets.TWITTER_SECRET }}
          TWITTER_TIMEOUT: ${{ secrets.TWITTER_TIMEOUT }}
          TWITTER_BEARER_TOKEN: ${{ secrets.TWITTER_BEARER_TOKEN }}
        run: |
          npm ci
          npm i @wfcd/items@latest warframe-worldstate-parser@latest warframe-worldstate-data@latest @wfcd/arsenal-parser@latest
          npm run lint
          npx commitlint --last --verbose
          npm run build
          npm test
      - name: Notify
        if: failure()
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISC_STATUS_WH }}
        with:
          args: '<:github:1017808825765605376> warframe-status failed to verify before deploy\n<@&1357021068446928993>'
        uses: Ilshidur/action-discord@master
  semantic-release:
    runs-on: ubuntu-latest
    needs: [test]
    outputs:
      new_version: ${{ steps.semantic.outputs.new_release_version }}
      release: ${{ steps.release.outputs.release }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PACKAGES_TOKEN }}
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        id: semantic
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          DOCKER_REGISTRY_USER: ${{ github.repository_owner }}
          DOCKER_REGISTRY_PASSWORD: ${{ secrets.GH_PACKAGES_TOKEN }}
        with:
          extra_plugins: |
            @eclass/semantic-release-sentry-releases
            @codedependant/semantic-release-docker
            @semantic-release/git
            @semantic-release/exec
            @semantic-release/changelog
      - name: Read .release file
        id: release
        run: echo "release=$(cat .release)" >> $GITHUB_OUTPUT
      - name: Create Sentry release
        if: ${{ steps.release.outputs.release == 'yes'  }}
        uses: getsentry/action-release@v3
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
